<table class="c12">
  {#each articles as article}
    <tr>
      <td><a href="/articles/{article.slug}" class="fsi">{@html article.title.rendered}</a></td>
      <td class="c3">
      {#if article.meta.contributors}
        {#each article.meta.contributors as contributor, i}
          <span>
            <a href="/contributors/{contributor.slug}">{@html contributor.title.rendered}{#if i < article.meta.contributors.length - 1},{/if}</a>
            {' '}
        </span>
        {/each}
      {/if}
      </td>
      <td class="c3"><a href="/folds/{article.meta.fold.slug}">{article.meta.fold.title.rendered}</a></td>
      <td class="c2">{dateFormat(article.meta.fold.meta.publication_date)}</td>

    </tr>
  {/each}
</table>

<script>
  import dateFormat from '../routes/_helpers/date-format.js'

  export default {
    helpers: {
      dateFormat
    },
    oncreate: function () {
      let articles = this.get().articles
      for (let article of articles) {
        if (!article.meta.fold.title) console.log(article)
      }
    }
  }
</script>