<div class="psa l0" style="width: 100vw; height: {layout.height}vw">
   {#each layout.items as item, i}
    <div class="psa" style="left: {layout.slots[i * 2]}vw; top: {layout.slots[i * 2 + 1]}vw; width: {item._width}vw; height: {item._height}vw; padding: {margin * item._height}vw {margin * item._width}vw;">
      {#if !item.fold.meta.bulletin}
        <div class="mb0-5 w100 h100">
          <a rel="prefetch" href="/folds/{item.fold.slug}"><svelte:component this={getSpread(item.spread)} media={item.fold.meta.fold_front}/></a>
        </div>
      {:else}
        <div class="mb0-5 w100 h100" style="transform: rotate({item.tilt ? -6 : 6}deg);">
          <a rel="prefetch" href="/folds/{item.fold.slug}"><svelte:component this={getSpread(item.spread)} media={item.fold.meta.fold_front}/></a>
        </div>
      {/if}
      <div class="dn sm-db" style="transform: rotate(0);">
        <a rel="prefetch" href="/folds/{item.fold.slug}">
          <h2>{item.fold.meta.volume}-{item.fold.meta.number}{item.fold.meta.bulletin ? 'B' : ''} {@html item.fold.title.rendered}</h2>
        </a>
      </div>
    </div>
  {/each}
</div>

<script>
  import FullSpread from './FullSpread.html';
  import HalfSpread from './HalfSpread.html';
  import QuarterSpread from './QuarterSpread.html';

  const SPREADS = {
    full: FullSpread,
    half: HalfSpread,
    quarter: QuarterSpread
  }

  export default {
    helpers: {
      getSpread: (slug) => SPREADS[slug]
    },
    data() {
      return {
        margin: .15
      }
    }
  }
</script>