<div class="psa l0" style="width: 100vw; height: {layout.height}vw">
   {#each layout.items as item, i}
    <div class="psa" style="left: {layout.slots[i * 2]}vw; top: {layout.slots[i * 2 + 1]}vw; width: {item._width}vw; height: {item._height}vw; padding: {margin * item._height}vw {margin * item._width}vw;">
      <div class="mb0-5 w100 h100">
        <svelte:component this={getSpread(item.spread)} media={item.fold.meta.fold_front}/>
      </div>
      {#if !item.fold.meta.bulletin}
        <h2>{item.fold.meta.volume}-{item.fold.meta.number} {@html item.fold.title.rendered}</h2>
      {:else}
        <h2>{item.fold.meta.volume}-Bulletin</h2>
      {/if}
    </div>
  {/each}
</div>

<script>
  import FullSpread from './FullSpread.html';
  import HalfSpread from './HalfSpread.html';
  import QuarterSpread from './QuarterSpread.html';

  const SPREADS = {
    full: FullSpread,
    half: HalfSpread,
    quarter: QuarterSpread
  }

  export default {
    helpers: {
      getSpread: (slug) => SPREADS[slug]
    },
    data() {
      return {
        margin: .15
      }
    },
    oncreate() {
      console.log(this.get())
    }
  }
</script>