<header class="{hidden ? 'hidden' : ''} psf c12 usn t0 l0 r0 x px1 bgc-paprika z2">
  <ul class="c6 pl2 mb0">
    <li class="di pr1 {segment === undefined ? 'fsi' : ''}"><a href="/">Paprika!</a></li>
    <li class="di pr1 {segment === 'folds' ? 'fsi' : ''}"><a rel=prefetch href="/folds">Folds</a></li>
    <li class="di pr1 {segment === 'index' ? 'fsi' : ''}"><a rel=prefetch href="/archive">Archive</a></li>
  </ul>
  <ul class="c6 pl2 mb0">
      <li class="di pr1 {segment === 'about' ? 'fsi' : ''}"><a rel=prefetch href="/about">About</a></li>
      <li class="di pr1 {segment === 'support' ? 'fsi' : ''}"><a rel=prefetch href="/support">Support</a></li>
      <li class="di pr1 {segment === 'search' ? 'fsi' : ''}"><a href="/search">Search</a></li>
  </ul>
</header>

<style>
  header {
    transition: transform 250ms ease;
  }
  header.hidden {
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
  }
</style>

<script>
  import raf from 'raf'
  export default {
    data() {
      return {
        hidden: false,
        position: 0
      }
    },
    oncreate () {
      this.animation = raf(
        function tick () {
          var { position } = this.get()
          if (position !== window.scrollY) {
            var lastPos = position
            this.set({position: window.scrollY })
            var active = lastPos > window.scrollY
            if (active || window.scrollY < 100) {
              this.set({ hidden: false })
            } else {
              this.set({ hidden: true })
            }
          }
          raf(tick.bind(this))
        }.bind(this)
      )
    },
    ondestroy () {
      raf.cancel(this.animation)
    }
  }
</script>